<!DOCTYPE html>
<!-- Debemos escribir aquí "ng-app" para que Angular sepa que vamos a utilizar su código aquí -->
<!-- Establecemos el nombre de la variable que va a cargar con toda la librería de Angular. En este caso -->
<!-- se llama "myApp". -->
<html lang="sp" ng-app="myApp">

<head>
    <!-- CDN de AngularJS. Debe ser declarada antes que cualquier otra para asegurar funcionamiento optimo. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <!-- CDN de Bootstrap y jQuery. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <!-- Otros archivos .js y .css . -->
    <link rel="stylesheet" href="./public/style.css">
    <script src="./app.js"></script>

    <!-- Configuración de página. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS - Ejemplo</title>
</head>

<body>
    <div class="container">
        <br>

        <!-- Contenido inicial -->
        <div class="h1">Ejemplo programado de AngularJS.</div>
        <div class="h5">Introducción.</div>
        <p>
            Este es un ejemplo programado de AngularJS.
            <br>
            Para ver el código por detras ingrese al archivo index.html y app.js .
            <br>
            Para correr éste proyecto es necesario levantarlo en un servidor. Utilize XAMPP o el pluging Live Server de
            Visual Studio Code para tal fin.
        </p>
        <div class="h5">Ejemplos:</div>
        <hr>

        <!-- Concatenación y ecuaciones aritmética. -->
        <div>
            <div class="h5">Concatenación y ecuaciones aritmética.</div>
            <p>Podemos realizar concatenaciones y ecuaciones aritméticas.</p>
            <div>
                <!-- Utilizamos {{}} para hacer una operación aritmetica. -->
                Ecuación 25 * 4 = {{ 25 * 4 }}
            </div>
            <div>
                <!-- Utilizamos {{}} para hacer una concatenación de cadenas de texto. -->
                Concatenación "Hola" + "mundo" = {{ "Hola" + "mundo" }}
            </div>
        </div>
        <hr>

        <!-- Ejemplo de input con actualización en tiempo real. -->
        <div>
            <div class="h5">Ejemplo de input con actualización en tiempo real.</div>
            <p>Escriba su nombre en la caja de texto para ver el resultado inmediato al lado del "Hola".</p>

            <!-- Establecemos un modelo con la directiva "ng-model" y le damos un nombre para crear una variable. -->
            <!-- Usamos ese nombre de modelo para imprimirlo en pantalla con {{ [nombre variable] }}. -->
            <input type="text" ng-model="nombre"> Hola {{ nombre }}!
            <br>
        </div>
        <hr>
        <!-- Ejemplo de renderización de una lista con bucle. -->
        <!-- Creamos un controlador en el cual podremos escribir código JavaScript en el archivo app.js . En éste caso
        se llama "listaBucle". -->
        <div ng-controller="listaBucle">
            <div class="h5">Ejemplo de renderización de una lista con bucle.</div>
            <p>Podemos mostrar en pantalla una lista de elementos guardados en un arreglo.</p>
            <ul>
                <!-- Con la directiva "ng-repeat" creamos un bucle foreach para un arreglo llamado telefonos en el cual cada item
                se llama telefono. -->
                <li ng-repeat="telefono in telefonos">
                    <!-- Repetimos una etiquera <li> hasta que el bucle foreach termine. Invocamos el valor "nombre" de cada uno. -->
                    {{ telefono.nombre }}
                </li>
            </ul>
        </div>
        <hr>

        <!-- Ejemplo de calculadora. -->
        <!-- Creamos un controlador llamado "calculadora" -->
        <div ng-controller="calculadora">
            <div class="h5">Ejemplo de calculadora.</div>
            <p>Aquí un ejemplo simple de una calculadora.</p>

            <!-- Creamos una directiva de modelo para el número 1 y 2 para así
            poder manipularlos con logica de Angular. Esto lo logramos con la directiva
            ng-model -->
            Valor 1: <input type="number" ng-model="numero_1">
            <br>
            Valor 2: <input type="number" ng-model="numero_2">
            <br>
            <br>
            <select id="operador">
                <option value="suma">Sumar</option>
                <option value="resta">Restar</option>
                <option value="multiplicacion">Multiplicar</option>
                <option value="division">Dividir</option>
            </select>
            <br>
            <br>

            <!-- Utilizamos la directiva ng-click para asignar la lógica a ejecutar cuando se pulse 
            este botón con Angular. -->
            <button type="button" class="btn btn-primary" ng-click="calcular()">Calcular</button>
            <br><br>
            <p>
                El resulado es: {{ resultado }}
            </p>
        </div>
    </div>




    <footer>
        ULACIT 2020 - Diseño Web 1 - Carlos Rodríguez - Ejemplo AngularJS.
    </footer>

</body>

</html>